<template>
  <div>
    <Header/>


    <div>
       <HomePage/>
    </div>
    <Footer/>
  </div>
</template>


<script>
import Header from '../Components/Header/Header.vue';
import Footer from '../Components/Footer/Footer.vue';
import HomePage from '../HomePage/HomePage.vue';

export default {
  props: {
    Component: {
      type: Object,
      required: true,
    },
  },
  components: {
    Header,
    Footer,
    HomePage
},
};

</script>